@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

span{
    color:#e95a08;
}
#button{
    background-color: #e95a08;
    color: white;
    width: 90%;
}
.banner{
    background-image: url('assets/news-latter-bg.png');
}
.bedge{
    img{
        height: 286px;
        width: 286px;
    }
    position: relative;
    top: -700px;
    left: 497px;
    
}

